@import url('./fonts.css');

:root, html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
    top: 0px;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: 2rem;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: none;
    justify-content: center;
    font-size: large;
    font-family: 'Noto Serif KR', serif;
    font-style: italic;
}

.header > .item {
    width: 5em;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header > .item > span {
    cursor: pointer;
}

.header > .item > span.select {
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.container > .item {
    padding-top: 4rem;
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.container > .item#home {
    background-color: #c3bbdd;
}

.container > .item#about {
    background-color: #bbdddd;
}

.container > .item#contact {
    gap: 1em;
    background-color: #ddc3bb;
}

.container > .item > .title {
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

.container > .item > .content {
    margin: 0px;
    padding: 0px;
}

.container > .item > .content > .item {
    margin: 1em;
    padding: 0em;
}

.container > .item > .content > .item > .title {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}